Repository KenkoGeek/mcp-gh-code-review, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ops-team, @backend-team, @mcp-maintainers, @security-team, @devops-team, @docs-team, @qa-team

.github/CODEOWNERS:

# Code Owners
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Default owners for everything in the repo
* @ops-team

# Core MCP server implementation
/src/mcp_server/ @backend-team @mcp-maintainers

# Configuration and policies
/config/ @ops-team @security-team
/.env.example @ops-team
/pyproject.toml @backend-team

# Security-sensitive files
/SECURITY.md @security-team
/Dockerfile @ops-team @security-team

# CI/CD workflows
/.github/workflows/ @devops-team @ops-team

# Documentation
/docs/ @docs-team
/README.md @docs-team @ops-team

# Tests require approval from code owners
/tests/ @backend-team @qa-team

fix(server): add comment to except clause for CodeQL
  src/mcp_server/server.py
Owners: @backend-team, @mcp-maintainers

feat(server): add MCP roots support with env var fallback (#19)
  src/mcp_server/server.py
Owners: @backend-team, @mcp-maintainers

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Owners: @ops-team

Notes added by 'git notes add'
  1b478b8def988411604d20738efd3397001d3b1e
Owners: @ops-team

fix(server): detect owner and repo from git config
  README.md
  src/mcp_server/server.py
  tests/test_repo_detection.py
Owners: @docs-team, @ops-team, @backend-team, @mcp-maintainers, @qa-team

fix(server): improve URL parsing, error handling, and test coverage
  README.md
  src/mcp_server/server.py
  tests/test_repo_detection.py
Owners: @docs-team, @ops-team, @backend-team, @mcp-maintainers, @qa-team

fix(server): remove unnecessary pass statement
  src/mcp_server/server.py
Owners: @backend-team, @mcp-maintainers

fix(server): detect owner and repo from git config (#20)
  README.md
  src/mcp_server/server.py
  tests/test_repo_detection.py
Owners: @docs-team, @ops-team, @backend-team, @mcp-maintainers, @qa-team

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
Owners: @ops-team

Notes added by 'git notes add'
  ed63143862b3a0282db2405fae90b7e41393ba69
Owners: @ops-team

docs: refresh README with current tooling and usage guidance
  README.md
Owners: @docs-team, @ops-team

Improve GitHub integration reliability and coverage
  pyproject.toml
  src/mcp_server/actions.py
  src/mcp_server/graphql_client.py
  src/mcp_server/jsonrpc.py
  src/mcp_server/server.py
  src/mcp_server/webhooks.py
  tests/test_actions.py
  tests/test_cli_and_jsonrpc_integration.py
  tests/test_error_handling.py
  tests/test_repo_detection.py
  tests/test_server_tools.py
  tests/test_webhooks.py
Owners: @backend-team, @mcp-maintainers, @qa-team

chore(ci): fix lint errors
  src/mcp_server/actions.py
  src/mcp_server/graphql_client.py
Owners: @backend-team, @mcp-maintainers

Notes added by 'git notes add'
  22e6376026833b64bb9f88bc8bbadc5a562356db
Owners: @ops-team

fix(docs): update README
  README.md
Owners: @docs-team, @ops-team

fix(docs): GITHUB_REPOSITORY on README
  README.md
Owners: @docs-team, @ops-team
