Repository KenkoGeek/mcp-gh-code-review, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ops-team, @backend-team, @mcp-maintainers, @security-team, @devops-team, @docs-team, @qa-team

fix(ci): add security-events permission to ci job call
  .github/workflows/release.yml
Owners: @devops-team, @ops-team

fix(ci): add permissions to codeql job call
  .github/workflows/release.yml
Owners: @devops-team, @ops-team

fix(ci): add permissions to codeql job call
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Owners: @devops-team, @ops-team

fix(ci): add permissions to codeql job call
  .DS_Store
Owners: @ops-team

fix(ci): resolve concurrency deadlock between release and ci workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @devops-team, @ops-team

fix(ci): add permissions to codeql job call
  .github/workflows/ci-release.yml
  .github/workflows/ci.yml
  README.md
Owners: @devops-team, @ops-team, @docs-team

fix(ci): add permissions to codeql job call
  .github/workflows/release.yml
Owners: @devops-team, @ops-team

fix(ci): remove npm cache from setup-node
  .github/workflows/ci-release.yml
Owners: @devops-team, @ops-team

fix(ci): use RELEASE_TOKEN to bypass branch protection
  .github/workflows/ci-release.yml
Owners: @devops-team, @ops-team

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Owners: @ops-team

Notes added by 'git notes add'
  96882bcbe58d1d1c60b44d90299ed9927a42e2ff
Owners: @ops-team

chore(doc): fix ci badge [skip ci]
  README.md
Owners: @docs-team, @ops-team

chore(doc): fix ci badge [skip ci]
  README.md
Owners: @docs-team, @ops-team

docs(readme): add example usage and prompts section
  README.md
Owners: @docs-team, @ops-team

docs(readme): add uvx as recommended installation method
  README.md
Owners: @docs-team, @ops-team

docs(security): update mcp version [skip ci]
  SECURITY.md
Owners: @security-team

feat(issues): add review_issue and reply_to_issue_comment tools
  src/mcp_server/server.py
Owners: @backend-team, @mcp-maintainers

fix(issues): add error handling, input validation, response validation
  src/mcp_server/server.py
Owners: @backend-team, @mcp-maintainers

fix(issues): reject PRs in review_issue - validate pull_request field
  src/mcp_server/server.py
Owners: @backend-team, @mcp-maintainers

feat(issues): add list_issues tool to list all repository issues
  src/mcp_server/server.py
Owners: @backend-team, @mcp-maintainers

docs: update README and architecture for 8 tools (5 PR + 3 issues + health)
  README.md
  docs/architecture.md
Owners: @docs-team, @ops-team

refactor(ci): remove CodeQL duplication, depend on codeql.yml workflow
  .github/workflows/ci-release.yml
Owners: @devops-team, @ops-team

feat(issues): add review_issue and reply_to_issue_comment tools (#9)
  .github/workflows/ci-release.yml
  README.md
  docs/architecture.md
  src/mcp_server/server.py
Owners: @devops-team, @ops-team, @docs-team, @backend-team, @mcp-maintainers

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Owners: @ops-team

Notes added by 'git notes add'
  fe5d741cfb34f4aef6feaa87b2950f8cae328d6b
Owners: @ops-team

fix(ci): restore push/PR triggers, add CodeQL check before release
  .github/workflows/ci-release.yml
Owners: @devops-team, @ops-team

fix(ci): correct CodeQL check name to 'Analyze (python)'
  .github/workflows/ci-release.yml
Owners: @devops-team, @ops-team

Notes added by 'git notes add'
  f5953ea030cf92cf6af45b4c895d4816cd9856b4
Owners: @ops-team

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
Owners: @ops-team

fix: add script entry point for uvx compatibility
  README.md
  pyproject.toml
Owners: @docs-team, @ops-team, @backend-team

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
Owners: @ops-team

Notes added by 'git notes add'
  10f488209cabcbf27c5aea3fb461dcf65ad16155
Owners: @ops-team

fix(server): improve git detection with parent directory search and env var fallback
  .env.example
  README.md
  src/mcp_server/server.py
Owners: @ops-team, @docs-team, @backend-team, @mcp-maintainers

fix(server): address all PR review comments
  .env.example
  README.md
  src/mcp_server/server.py
Owners: @ops-team, @docs-team, @backend-team, @mcp-maintainers

chore(server) too long line lint error
  src/mcp_server/server.py
Owners: @backend-team, @mcp-maintainers

fix(server): improve git detection with parent directory search and e… (#18)
  .env.example
  README.md
  src/mcp_server/server.py
Owners: @ops-team, @docs-team, @backend-team, @mcp-maintainers

chore(release): 1.1.3 [skip ci]
  CHANGELOG.md
Owners: @ops-team

Notes added by 'git notes add'
  d16e62ca63ac3f08799ae8784f19a64d46a1811f
Owners: @ops-team

feat(server): add MCP roots support with env var fallback
  src/mcp_server/server.py
Owners: @backend-team, @mcp-maintainers

fix(server): use __file__ for git detection - works with uvx and local
  src/mcp_server/server.py
Owners: @backend-team, @mcp-maintainers

.github/CODEOWNERS:

# Code Owners
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Default owners for everything in the repo
* @ops-team

# Core MCP server implementation
/src/mcp_server/ @backend-team @mcp-maintainers

# Configuration and policies
/config/ @ops-team @security-team
/.env.example @ops-team
/pyproject.toml @backend-team

# Security-sensitive files
/SECURITY.md @security-team
/Dockerfile @ops-team @security-team

# CI/CD workflows
/.github/workflows/ @devops-team @ops-team

# Documentation
/docs/ @docs-team
/README.md @docs-team @ops-team

# Tests require approval from code owners
/tests/ @backend-team @qa-team
